{% extends "catalog/base.html" %}

{% block title %}{% if object %}Редактировать запись{% else %}Создать новую запись{% endif %}{% endblock %}

{% block content %}
  {% include 'catalog/navbar.html' %}
  <h1>{% if object %}Редактировать запись{% else %}Создать новую запись{% endif %}</h1>
  
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Сохранить</button>
  </form>

  <a href="{% url 'blog:blogpost_list' %}">Назад к списку</a>
{% endblock %}

{% include 'catalog/footer.html' %}