{% extends "blog/base.html" %}

{% block title %}Список записей блога{% endblock %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Блоговые записи</h1>
</div>

  <ul>
    {% for post in blogposts %}
      <li>
        <a href="{% url 'blog:blogpost_detail' post.pk %}">{{ post.title }}</a>
        - {{ post.created_at|date:"d M Y" }} (Просмотры: {{ post.views_count }})
      </li>
    {% empty %}
      <li>Записей пока нет.</li>
    {% endfor %}
  </ul>
  <a href="{% url 'blog:blogpost_create' %}">Создать новую запись</a>
{% endblock %}

