{% extends 'base.html' %}

{% block title %}Products List - Skystore{% endblock %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Список продуктов</h1>
</div>
<div class="container mt-5">

    <a href="{% url 'catalog:product_create' %}" class="btn btn-success mb-3">Добавить продукт</a>

    <ul class="list-unstyled">
        {% for product in products %}
            <li class="mb-3 border p-3 rounded">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <a href="{% url 'catalog:product_detail' product.id %}" class="btn btn-outline-primary w-100">
                            {{ product.name }} - ${{ product.price }}
                        </a>
                    </div>
                    <div class="col-md-6 text-end">
                        {% if product.owner %}
                              <span class="text-muted">Владелец: {{ product.owner.email }}</span>
                        {% else %}
                              <span class="text-muted">Владелец: Не назначен</span>
                        {% endif %}
                        <a href="{% url 'catalog:product_update' product.id %}" class="btn btn-warning mx-2">Редактировать</a>
                        <a href="{% url 'catalog:product_delete' product.id %}" class="btn btn-danger mx-2">Удалить</a>
                    </div>
                </div>
            </li>
        {% empty %}
            <li>No products available.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
